*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
/*HEADER*/
header{
    position: fixed;
    width: 100%;
    text-align: right;
    margin: 1rem 0rem;
    z-index: 1;
}

header a{
    color: white;
    margin: 10px 20px;
    background-color: grey;
    padding: 0.5rem;
}

.container{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

/*MAIN*/
main{
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 3rem;
    padding: 1.2rem;
}

.photo{
    width: calc(100%/7);
}

.photo img{
    width: 100%;
    padding: 1px 5px;
}

.photo .label{
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 1rem;
    background-color: black;
}

.fa-microphone-slash {
    color: red;
}