*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
/*HEADER*/
header{
    position: fixed;
    width: 100%;
    text-align: right;
    margin: 1rem 0rem;
    z-index: 1;
}

header a{
    color: white;
    margin: 10px 20px;
    background-color: grey;
    padding: 0.5rem;
}

.container{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

/*MAIN*/
main{
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin: 3rem;
    padding: 1.2rem;
}

.photo{
    width: calc(100%/7);
}

.photo img{
    width: 100%;
    padding: 1px 5px;
}

.photo .label{
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 1rem;
    background-color: black;
}

.fa-microphone-slash {
}

/*FOOTER*/
footer {
    width: 100%;
    background-color: #222;
    display: flex;
    justify-content: space-between;
  
}
footer a {
    display: flex;
}


footer div {
    display: flex;
    font-size: 1.2rem;
    color: white;
    margin-left: 1rem;
   
}


footer a i.fa-share-square{
    color: #4bc800;
}


footer a>div{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5px;
}

footer a.end{
    background-color: #4a4a4a;
    color: red;
    font-size: 13px;
    display: inline-block;
    height: 100%;
    line-height: 65px;
    padding: 0 20px;
}